{template "content","header"}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}xingwang/consult.css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}xingwang/watermark.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}jquery.validate.js" charset="UTF-8"></script>
<style type="text/css">
	.page-panel .send{
		background:url({IMG_PATH}xingwang/send.png);
		background-repeat: no-repeat;
	}
</style>

				<div id="pagePanel" class="page-panel">
					<div class="desc">{$desc}</div>
					<div class="content">
                        <form id="myform" method="post" action="?m=custom&c=consult&a=send">
							<div class="item">
								<span class="user-text">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
								<input class="user-input-name" type="text" name="username" id="username" />
								<input class="user-radio" name="radioSex" type="radio" name="sex" value="1" checked="checked"> 
								<span class="user-sex">先&nbsp;&nbsp;生</span>
								<input class="user-radio" name="radioSex" type="radio" name="sex" value="0">
								<span class="user-sex">小&nbsp;&nbsp;姐</span>
							</div>
							<div class="item">
								<span class="user-text">聯絡電話</span>
								<input class="user-input" type="text" name="phone" id="phone"/>
							</div>
							<div class="item">
								<span class="user-text">電子信箱</span>
								<input class="user-input" type="text" name="email" id="email"/>
							</div>
							<div class="item">
								<span class="user-text">預約時間</span>
								<!-- input id="userTime" class="user-input" type="text" name="appointment"/-->
                                <span class="user-input"><?php echo form::date('appointment-day'); ?></span>
							</div>
							<div class="item">
								<span class="user-text consult-time">咨詢時段</span>
								<span class="container">
									<input class="radio-icon" type="radio" name="duration" value="09:00~09:30" checked="checked"> 
									<span class="user-time">09:00~09:30</span>
									<input class="radio-icon" type="radio" name="duration" value="10:30~11:00">
									<span class="user-time">10:30~11:00</span>
									</br>
									<input class="radio-icon" type="radio" name="duration" value="09:30~10:00"> 
									<span class="user-time">09:30~10:00</span>
									<input class="radio-icon" type="radio" name="duration" value="11:00~11:30">
									<span class="user-time">11:00~11:30</span>
									</br>
									<input class="radio-icon" type="radio" name="duration" value="10:00~10:30"> 
									<span class="user-time">10:00~10:30</span>
									<input class="radio-icon" type="radio" name="duration" value="10:00~10:30">
									<span class="user-time">11:30~12:00</span>
								</span>
							</div>
							<div class="item">
								<span class="user-text">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旨</span>
								<input id="topic" class="user-input" type="text" name="topic" />
							</div>
							<div class="item">
								<span class="user-text consult-content">咨詢內容</span>
								<textarea id="content" class="user-textarea" name="content"></textarea>
							</div>
							<div class="item">
								<span class="code-panel">
									<span class="user-text">驗&nbsp;&nbsp;證&nbsp;&nbsp;碼</span>
									<input id="vcode" class="user-input-code" type="text" name="vcode"/>
									<span class="warn">*請輸入右方圖片所顯示的文字</span>
								</span>
								<!-- image class="code-image" src="images/code.png"></image-->
                                <?php echo form::checkcode('checkcode', 5, 20, 130, 50, '', '', '', 'code-image'); ?>
							</div>
							<div class="item send-item">
								<input class="send" type="button" value='送&nbsp;&nbsp;&nbsp;&nbsp;出' id="dosubmit" name="dosubmit">
							</div>
						</form>
					</div>
				</div>
<script type="text/javascript">
	$(function() {
		var $userTime = $('#userTime'),
			$username = $('#username'),
			$phone = $('#phone'),
			$vcode = $('#vcode'),
			$myform = $('#myform'),
			$email = $('#email'),
			$topic = $('#topic'),
			$dosubmit = $('#dosubmit'),
			$content = $('#content');

		$dosubmit.on('click',doSubmit);

		function doSubmit(){

			if($.trim($username.val()) == ''){
				alert('姓名不能為空!');
			}else if(!utils.checkPhone($.trim($phone.val()))){
				alert('電話號碼格式錯誤!');
			}else if(!utils.checkEmail($.trim($email.val()))){
				alert('電子信箱格式錯誤!');
			}else if(!$.validator.methods['isDate']($userTime.val())){
				alert('請輸入正確的日期!');
			}else if($.trim($topic.val()) == ''){
				alert('主旨不能為空!');
			}else{
				$myform[0].submit();
			}
		}

		$.validator.addMethod("isDate", function(value){
			var ereg = /^(\d{1,4})(-|\/)(\d{1,2})(-|\/)(\d{1,2})$/,
				r = value.match(ereg);
			if (r == null) {
				return false;
			}
			return true;
		});

		$userTime.watermark('請輸入正確的時間格式:YYYY-MM-DD');
		$vcode.watermark('請輸入驗證碼');
		$topic.watermark('請輸入主旨');
		$content.watermark('請輸入咨詢內容');
		$username.watermark('請填寫正確的姓名');
		$phone.watermark('請填寫正確的電話號碼');
		$email.watermark('請填寫正確的電子信箱');
	});
</script>
{template "content","footer"}
