<table>
    <tr>
        <td>姓名:</td>
        <td>{username} ({sexDesc})</td>
    </tr>
    <tr>
        <td>联系电话:</td>
        <td>{phone}</td>
    </tr>
    <tr>
        <td>电子邮箱:</td>
        <td>{email}</td>
    </tr>
    <tr>
        <td>预约时间:</td>
        <td>{appointment_day}</td>
    </tr>
    <tr>
        <td>咨询时段:</td>
        <td>{appointment_time}</td>
    </tr>
    <tr>
        <td>主旨:</td>
        <td>{topic}</td>
    </tr>
    <tr>
        <td>咨询内容:</td>
        <td>{content}</td>
    </tr>
</table>
