<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/page.css">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<link rel="stylesheet" type="text/css" href="css/tip.css">
	<link rel="stylesheet" type="text/css" href="css/music.css">
	<link rel="stylesheet" type="text/css" href="css/consult.css">
	<style type="text/css">
		.page-panel .send{
			background:url(images/send.png);
			background-repeat: no-repeat;
		}
	</style>
</head>
<body>
	<div id="pageIndex" class="page-index">
		<div id="pageHeader" class="page-header" style="background:url(images/header.png) center center;">
			<div class="wrap">
				<ul>
					<li class="left"><a href="./about.html">關於興望</a></li>						
					<li class="left"><a href="./lawyer.html">事業律師</a></li>						
					<li class="left"><a href="./house.html">家事法事</a></li>						
					<li class="right first"><a href="./project.html">服務項目</a></li>						
					<li class="right"><a href="#" class="active">免費法律諮詢</a></li>					
				</ul>				
			</div>
		</div>
		<div id="pageContainer" class="page-container">
			<div class="wrap-left" style="background: url(images/left.png); background-repeat:no-repeat"></div>
			<div class="wrap-right" style="background: url(images/right.png);background-repeat:no-repeat"></div>
			<div class="wrap">
				<div id="pageNav" class="page-nav">
					<span class="title">免费法律咨询</span>					
					<span class="label">Home&gt;免费法律咨询</span>
				</div>
				<div class="wrap-top" style="background: url(images/top.png) center center;background-repeat:no-repeat"></div>
				<div id="pagePanel" class="page-panel">
					<div class="desc">sadsadsadssdasdsa第三方第三方sadsadsadssdasdsa第三方第三方sadsadsadssdasdsa第三方第三方</div>
					<div class="content">
						<form id="form" name="form" method="post" action="#">
							<div class="item">
								<span name="userName" class="user-text">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
								<input class="user-input-name" type="text"/>
								<input class="user-radio" name="radioSex" type="radio"> 
								<span class="user-sex">先&nbsp;&nbsp;生</span>
								<input class="user-radio" name="radioSex" type="radio">
								<span class="user-sex">小&nbsp;&nbsp;姐</span>
							</div>
							<div class="item">
								<span name="userTal" class="user-text">联络电话</span>
								<input class="user-input" type="text"/>
							</div>
							<div class="item">
								<span name="userEmail" class="user-text">电子信箱</span>
								<input class="user-input" type="text"/>
							</div>
							<div class="item">
								<span name="userTime" class="user-text">预约时间</span>
								<input class="user-input" type="text"/>
							</div>
							<div class="item">
								<span name="userConsult" class="user-text consult-time">咨询时段</span>
								<span class="container">
									<input class="radio-icon" name="radioConsult" type="radio"> 
									<span class="user-time">09:00~09:30</span>
									<input class="radio-icon" name="radioConsult" type="radio">
									<span class="user-time">09:00~09:30</span>
									</br>
									<input class="radio-icon" name="radioConsult" type="radio"> 
									<span class="user-time">09:00~09:30</span>
									<input class="radio-icon" name="radioConsult" type="radio">
									<span class="user-time">09:00~09:30</span>
									</br>
									<input class="radio-icon" name="radioConsult" type="radio"> 
									<span class="user-time">09:00~09:30</span>
									<input class="radio-icon" name="radioConsult" type="radio">
									<span class="user-time">09:00~09:30</span>
								</span>
							</div>
							<div class="item">
								<span name="userGist" class="user-text">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旨</span>
								<input class="user-input" type="text"/>
							</div>
							<div class="item">
								<span name="userContent" class="user-text consult-content">咨询内容</span>
								<textarea class="user-textarea"></textarea>
							</div>
							<div class="item">
								<span class="code-panel">
									<span name="userCode" class="user-text">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span>
									<input class="user-input-code" type="text"/>
									<span class="warn">*请输入右方图片所显示的文字</span>
								</span>
								<image class="code-image" src="images/code.png"></image>
							</div>
							<div class="item send-item">
								<input class="send" type="button" value='送出' onclick="window.location.href='#'">
							</div>
						</form>
					</div>
				</div>
				<div id="pageTip" class="page-tip">
					<span class="music-about" style="background:url(images/music_about.png);"></span>						
					<span class="music-off" style="background:url(images/music_off.png);"></span>
				</div>
			</div>
			<div class="wrap-bottom" style="background: url(images/bottom.png)center center;background-repeat:no-repeat"></div>
		</div>
		<div id="pageFooter" class="page-footer" style="background:url(images/footer.png) center center;background-repeat:no-repeat;">
			<div class="wrap">
				<p>
					<span class="company first">Copyright@2013興望(Bring Hope)法律事務所著作權所有.Design By藍汛科技</span>					
					<span class="location" style="background:url(images/location.png);"></span>					
					<span class="address">
						<a>公司位置</a>
					</span>					
					<span class="facebook icon" style="background:url(images/facebook.png);background-repeat: no-repeat;"></span>					
					<span class="google icon" style="background:url(images/google.png);background-repeat: no-repeat;"></span>					
					<span class="ping icon" style="background:url(images/ping.png)
					;background-repeat: no-repeat;"></span>				
				</p>
				<p class="panel">					
					<a target="_blank" rel="nofollow" href="#">公司地址/壹北市中正品中山北路一段2號6樓之3</a>
					&nbsp;|&nbsp;					
					<a target="_blank" rel="nofollow" href="#">TEL/02-23899003</a>
					&nbsp;|&nbsp;					
					<a target="_blank" rel="nofollow" href="#">FAX/02-23899103</a>					&nbsp;|&nbsp;
					<a target="_blank" rel="nofollow" href="#">E-MAIL/bringinghopelaw@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>