{template "content","header"}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}xingwang/house.css" />
<style type="text/css">
	.page-panel .title.active,
	.page-panel .title:hover{
		background: url('{IMG_PATH}xingwang/circle_min.png');
		background-repeat: no-repeat;
	}

	.page-panel .point-icon{
		background: url('{IMG_PATH}xingwang/point_.png');
		background-repeat: no-repeat;
	}

	.page-panel .title.active .point-icon,
	.page-panel .title:hover .point-icon{
		background: url('{IMG_PATH}xingwang/point.png');
		background-repeat: no-repeat;
	}

	.page-panel .line{
		background: url('{IMG_PATH}xingwang/panel_line.png') center top;
		background-repeat: no-repeat;
	}

	.page-panel .pre-page{
		background: url('{IMG_PATH}xingwang/pre_page.png');
		background-repeat: no-repeat;
	}

	.page-panel .next-page{
		background: url('{IMG_PATH}xingwang/next_page.png');
		background-repeat: no-repeat;
	}

	.page-panel .pre-page-max{
		background: url('{IMG_PATH}xingwang/pre_page_.png');
		background-repeat: no-repeat;
	}

	.page-panel .next-page-max{
		background: url('{IMG_PATH}xingwang/next_page_.png');
		background-repeat: no-repeat;
	}
</style>
	<div id="pagePanel" class="page-panel">
		<div class="table">						
			<?php 
				if ($child == 1) {
					$parentCategoryId = $catid;
					$aryChildren = explode(',', $CAT['arrchildid']);
					$activeMenu = $aryChildren[1];
				}else {
					$parentCategoryId = $CAT['parentid'];
					$activeMenu = $catid;
				}
				$cats = subcat($parentCategoryId);
				foreach($cats as $cur) {
					?>
			<span class="title {if $activeMenu == $cur['catid']}active{/if}">
				<span class="point-icon"></span>
				<span class="name"><a href="{$cur['url']}" title="{$cur['catname']}">{$cur['catname']}</a></span>
			</span>
			<?php } ?>					
		</div>
		<div class="line">
			<span class="label first">{$CAT['description']}</span>
		</div>
		<div class="content">
			<div class="header">
				<span class="left">編號</span>
				<span class="middle">標題</span>
				<span class="right">日期</span>
			</div>
            <?php $counter = 0; ?>
			{pc:content action="lists" catid="$catid" num="1" order="id DESC" page="$page"}
        	<ul class="list lh24 f14">
			{loop $data $r}
                <?php $counter++; ?>
				<div class="item <?php if ($counter%$pagesize == 0) {?> last<?php } ?>">
					<span class="left">{str_pad($r['id'], 3, '0', STR_PAD_LEFT)}</span>
					<span class="middle"><a href="{$r[url]}">{$r[title]}</a></span>
					<span class="right">{date('Y/m/d',$r[inputtime])}</span>
				</div>
			{/loop}
        	</ul>
        	<div id="pages" class="text-c pages">{$pages}<span style="clear:both;"></span></div>

			{/pc}
		</div>
	</div>
{template "content","footer"}
