{template "content","header"}
<link href="{CSS_PATH}xingwang/lawyer.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	.page-panel .title.active,
	.page-panel .title:hover{
		background: url('{IMG_PATH}xingwang/circle_max.png');
		background-repeat: no-repeat;
	}

	.page-panel .point-icon{
		background: url('{IMG_PATH}xingwang/point_.png');
		background-repeat: no-repeat;
	}

	.page-panel .title.active .point-icon,
	.page-panel .title:hover .point-icon{
		background: url('{IMG_PATH}xingwang/point.png');
		background-repeat: no-repeat;
	}

	.page-panel .line{
		background: url('{IMG_PATH}xingwang/panel_line.png') center center;
		background-repeat: no-repeat;
	}

	.page-panel #container{
        background: url({IMG_PATH}xingwang/panel_line.png) top center no-repeat;
	}
</style>
		<div id="pagePanel" class="page-panel">
			<div class="table">
				<?php 
                        $parentCategoryId = $CAT['parentid'];
                        $activeMenu = $catid;
						$cats = subcat($parentCategoryId);
						foreach($cats as $cur) {
					?>
				<span class="title {if $activeMenu == $cur['catid']}active{/if}">
					<span class="point-icon"></span>
					<span class="name"><a href="{$cur['url']}" title="{$cur['catname']}">{$cur['catname']}</a></span>
				</span>
				<?php } ?>
			</div>
			<div id="container">
                {$content}
			</div>
		</div>
{template "content","footer"}
