{template "content","header"}
    <style type="text/css">
        .page-panel {
            font-size: 16px;
            color: #121718;
            width: 600px;
            display: block;
            line-height: 30px;
            margin:30px auto 0px auto;
            white-space: normal;
            word-break: break-all;
        }
    </style>
	<div id="pagePanel" class="page-panel">
        {$content}
        <!-- 服务项目模板 -->
        <!-- <style type="text/css">
            .page-panel li{
                font-size: 0px;
            }

            .page-panel .num{
                font-size: 24px;
                font-weight: bolder;
                color: #57678C;
            }

            .page-panel .title{
                font-size: 24px;
                margin-left: 15px;
                color: #57678C;
            }

            .page-panel .detail{
                font-size: 14px;
                display: inline-block;
                margin-left: 45px;
            }
        </style>
        <ul>
            <li>
                <span>
                    <span class="num">01</span>
                    <span class="title">服务时间</span>
                </span>
                <span class="detail">放多少发大水发大水多少发大水发大水放多少发大水发大水多少发大水发大水</span>
            </li>
            <li>
                <span>
                    <span class="num">02</span>
                    <span class="title">法律咨询</span>
                </span>
                <span class="detail">放多少发大水发大水多少发大水发大水放多少发大水发大水多少发大水发大水</span>
            </li>
            <li>
                <span>
                    <span class="num">03</span>
                    <span class="title">承办案件及法律顾问</span>
                </span>
                <span class="detail">放多少发大水发放多少发大水发大水多少发大水发大水放多少发大水发大水多少发大水发大水大水多少发大水发大水</span>
            </li>
        </ul> -->
        <div style="width: 0px; height: 0px; clear: both;"></div>
    </div>
{template "content","footer"}
