{template "content","header"}
<link href="{CSS_PATH}xingwang/lawyer.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	.page-panel .title.active,
	.page-panel .title:hover{
		background: url('{IMG_PATH}xingwang/circle_max.png');
		background-repeat: no-repeat;
	}

	.page-panel .point-icon{
		background: url('{IMG_PATH}xingwang/point_.png');
		background-repeat: no-repeat;
	}

	.page-panel .title.active .point-icon,
	.page-panel .title:hover .point-icon{
		background: url('{IMG_PATH}xingwang/point.png');
		background-repeat: no-repeat;
	}

	.page-panel .line{
		background: url('{IMG_PATH}xingwang/panel_line.png') center top;
		background-repeat: no-repeat;
	}

	.page-panel #container{
        background: url({IMG_PATH}xingwang/panel_line.png) top center no-repeat;
	}
</style>
		<div id="pagePanel" class="page-panel">
			<div class="table">
				<?php 
                        $parentCategoryId = $CAT['parentid'];
                        $activeMenu = $catid;
						$cats = subcat($parentCategoryId);
						foreach($cats as $cur) {
					?>
				<span class="title {if $activeMenu == $cur['catid']}active{/if}">
					<span class="point-icon"></span>
					<span class="name"><a href="{$cur['url']}" title="{$cur['catname']}">{$cur['catname']}</a></span>
				</span>
				<?php } ?>
			</div>
			{$content}
			<!-- 事业律师模板 -->
			<!-- <style type="text/css">
				* {
	                padding: 0;
	                margin: 0;
	            }

	            html {
	                height:100%; 
	                max-height:100%; 
	                background:#fff; 
	                font-size:12px; 
	            }

	            a{
	                text-decoration: none;
	            }

	            body{
	                font-family: "微软雅黑";
	                margin:0;
	                padding: 0;
	                width: 100%;
	                height: 100%;
	                font-size: 12px;
	                line-height: 1.6em;
	                max-height: 100%;
	            }

	            ul{
	                margin: 0;
	                padding:0;
	            }

	            li{
	                list-style: none;
	            }

				.page-content .label{
					width: 100%;
					color: #727A8F;
					text-align: center;
					line-height: 30px;
					display: inline-block;
					font-size: 24px;
				}

				.page-content .label.first{
					margin-top: 24px;
				}

				.page-content .line{
					width: 100%;
					display: inline-block;
				}

				.page-content .left{
					float: left;
					width: 50%;
				}

				.page-content .right{
					float: right;
					width: 49%;
				}

				.page-content .content-line{
					border-left:1px solid #CBD3D3;
					height: 300px;
					float: left;
				}

				.page-content .content{
					display: inline-block;
					margin-top: 25px;
				}

				.page-content .type{
					font-size: 16px;
					color: #727A8F;
				}

				.page-content .content li{
					color: #000203;
					font-size: 14px;
				}

				.page-content .right .panel{
					margin-left: 38px;
				}
			</style><div class="page-content">
			<div class="line">
				<span class="label first">葉光洲律師</span>
				<span class="label">Joseph&nbsp;&nbsp;K.&nbsp;C.&nbsp;Yeh</span>
			</div>
			<div class="content">
				<div class="left">
					<div class="panel">
						<span class="type">學業</span>
						<ul>
							<li>(1)放到雙方的首發第三方的手</li>
							<li>(2)放到雙方的首發第三方的手</li>
							<li>(3)放到雙方的首發第三方的手</li>
						</ul>
					</div>
					<div class="panel">
						<span class="type">傳張</span>
						<ul>
							<li>放到雙方的首發第三方的手</li>
						</ul>
					</div>
					<div class="panel">
						<span class="type">登錄法院</span>
						<ul>
							<li>放到雙方的首發第三方的手</li>
						</ul>
					</div>
					<div class="panel">
						<span class="type">電子郵件</span>
						<ul>
							<li>放到雙方的首發第三方的手</li>
						</ul>
					</div>
				</div>
				<span class="content-line"></span>
				<div class="right">
					<div class="panel">
						<span class="type">敬業</span>
						<ul>
							<li>放到雙方的首發第三方的手放到雙方的首發第三方的手放到雙方的首發第三方的手放到雙方的首發第三方的手放到雙方的首發第三方的手放到雙方的首發第三方的手</li>
						</ul>
					</div>
				</div>
			</div>
			<span style="clear: both;"></span>
			</div> -->
		</div>
{template "content","footer"}
