{template "content","header"}
	<link href="{CSS_PATH}xingwang/lawyer_detail.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
		.page-panel .line{
			background: url('{IMG_PATH}xingwang/line.png');
		}
		.page-panel .point-blue{
			background: url('{IMG_PATH}xingwang/point_blue.png') no-repeat;
		}
		.page-panel .back{
			background: url('{IMG_PATH}xingwang/send.png') no-repeat;
		}
		.page-panel .icon{
			background: url('{IMG_PATH}xingwang/arrows.png') no-repeat;
		}
	</style>
	<div id="pagePanel" class="page-panel">
		<div class="title">{$title}</div>
		<div class="line"></div>
		<div class="label">
			<span class="point-blue"></span>
			<span class="label-title">發佈日期:{date('Y/m/d', strtotime($updatetime))}</span>
		</div>
		<div id="content" class="content">{$content}</div>
		<div class="back" onclick="window.location.href='<?php echo $CAT['url']; ?>';">
			<span class="icon"></span>
			<span class="value">BACK</span>
		</div>
	</div>
{template "content","footer"}
