* {
	padding: 0;
	margin: 0;
}

html {
	height:100%; 
	max-height:100%; 
	background:#fff; 
	font-size:12px; 
}

body{
	font-family: "微软雅黑";
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 1.6em;
	max-height: 100%;
}

ul{
	margin: 0;
	padding:0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}