.page-panel{
	font-size: 16px;
	color: #121718;
	display: block;
	line-height: 30px;
	margin:0px 60px 30px 60px;
}

.page-panel .title{
	width: 112px;
	height: 54px;
	line-height: 54px;
	cursor: pointer;
	display: inline-block;
	text-align: left;
}

.page-panel .table{
	height: 70px;
	line-height: 70px;
	text-align: center;
}

.page-panel .label{
	width: 100%;
	color: #576885;
	line-height: 25px;
	display: block;
	font-size: 16px;
	width: 600px;
	margin: auto;
}

.page-panel .label.first{
	margin-top: 24px;
}

.page-panel .point-icon{
	width: 7px;
	height: 7px;
	margin-left: 35px;
	position: relative;
	top: -2px;
	display: inline-block;
}

.page-panel .line{
	width: 100%;
	height: 84px;
	display: inline-block;
}

.page-panel .content{
	display: block;
	width: 650px;
	margin: auto;
	margin-top: 20px;
}

.page-panel .header{
	border-top: 4px solid #82AFFB;
	border-left: 1px solid #ABBDC4;
	border-right: 1px solid #ABBDC4;
	border-bottom: 1px solid #83A5AA;
	font-size: 0px;
	height: 30px;
}

.page-panel .header .left,
.page-panel .header .right{
	width: 114px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	height: 22px;
	line-height: 22px;
}

.page-panel .header .left{
	border-right: 1px solid #9A9A9A;
}

.page-panel .header .right{
	border-left: 1px solid #9A9A9A;
}

.page-panel .header .middle{
	width: 418px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}

.page-panel .item{
	border-bottom: 1px solid #C9CECF;
	font-size: 0px;
	height: 33px;
}

.page-panel .item.last{
	border-color: #6886BB;
}

.page-panel .item .left,
.page-panel .item .right{
	width: 114px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
}

.page-panel .item .middle{
	width: 400px;
	display: inline-block;
	margin-left: 20px;
	text-align: left;
	font-size: 14px;
}

.page-panel .page-number{
	height: 16px;
	line-height: 16px;
	width: 251px;
	margin: auto;
	display: block;
	margin-top: 17px;
}

.page-panel .pre-page,
.page-panel .next-page{
	cursor: pointer;
	display: inline-block;
	width: 14px;
	height: 16px;
	float: left;
	margin: 0px 15px 0px 15px;
}

.page-panel .pre-page-max,
.page-panel .next-page-max{
	cursor: pointer;
	display: inline-block;
	width: 19px;
	height: 16px;
	float: left;
}

.page-panel .page-item{
	cursor: pointer;
	margin-left: 15px;
	color: #8B9390;
	float: left;
}

.page-panel .page-item.first{
	margin-left: 0px;
}