.page-index{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.page-header{
	display:inline-block;
	width:100%;
	height:50%;
}

.page-container{
	margin-top: 50px;
	display: inline-block;
	width:100%;
	height:30%;
}

.page-container .enter{
	width: 83px;
	height: 38px;
	display:block;
	margin:auto;
	cursor: pointer;
}

.page-footer{
	position: fixed;
	bottom: 60px;
	left: 0px;
	font-size: 0px;
	display: inline-block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-repeat: repeat-x;
	padding-left: 20px;
	padding-right: 20px;
}

.page-footer .icon{
	float: left;
	width: 19px;
	height: 17px;
	position: relative;
	top: 17px;
	display: inline-block;
	margin-right: 7px;
}

.page-footer .title{
	color:#B97FCE;
}

.page-footer .tip{
	float: left;
	font-size: 16px;
}

.page-footer .panel{
	float: left;
	overflow: hidden;
	position: relative;
	height: 48px;
}

.page-footer .message{
	font-size: 16px;
	color:#000;
	position: relative;
	left: 100%;
}