.page-panel{
	font-size: 16px;
	color: #121718;
	display: block;
	line-height: 30px;
	margin:0px 60px 0px 60px;
}

.page-panel .title{
	width: 172px;
	height: 54px;
	line-height: 54px;
	margin-top: 7px;
	cursor: pointer;
	display: inline-block;
	text-align: left;
	font-size: 0px;
}

.page-panel .title a{
	color: #000203;
}

.page-panel .table{
	height: 70px;
	line-height: 70px;
	text-align: center;
}

.page-panel .name{
	margin-left: 6px;
	font-size: 16px;
}

.page-panel .label{
	width: 100%;
	color: #727A8F;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	font-size: 24px;
}

.page-panel .label.first{
	margin-top: 24px;
}

.page-panel .point-icon{
	width: 7px;
	height: 7px;
	margin-left: 35px;
	position: relative;
	top: -2px;
	*top:-4px;
	display: inline-block;
}

.page-panel .line{
	width: 100%;
	display: inline-block;
}

.page-panel .left{
	float: left;
	width: 50%;
}

.page-panel .right{
	float: right;
	width: 49%;
}

.page-panel .content-line{
	border-left:1px solid #CBD3D3;
	height: 300px;
	float: left;
}

.page-panel .content{
	display: inline-block;
	margin-top: 25px;
}

.page-panel .type{
	font-size: 16px;
	color: #727A8F;
}

.page-panel .content li{
	color: #000203;
	font-size: 14px;
}

.page-panel .right .panel{
	margin-left: 38px;
}
.page-panel .name{
    margin-left: 6px;
    font-size: 16px;
}