.page-mask{
	position: fixed;
	z-index:1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
}

.page-music{
	width: 620px;
	height: 500px;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left:-310px;
	margin-top:-250px;
	z-index:2;
	background-color: #fff;
}

.page-music .logo{
	margin-top:15px;
	width: 100%;
	display: inline-block;
	height:33px;
	background: url(../../images/music/music.png) center top;
	background-repeat: no-repeat;
}

.page-music .title{
	margin-top:12px;
	width: 100%;
	display: inline-block;
	height:19px;
	background: url(../../images/music/title.png) center top;
	background-repeat: no-repeat;
}

.page-music .panel{
	width: 560px;
	display: block;
	margin:20px auto 20px auto;
}

.page-music .left{
	float: left;
	width: 265px;
	height: 100%;
}

.page-music .right{
	float: right;
	width: 270px;
	height: 100%;
}

.page-music .pic{
	background: url(../../images/music/pic.png);
	background-repeat: no-repeat;
	width: 269px;
	height:265px;
	display: inline-block;
}

.page-music .desc{
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-top: 20px;
}

.page-music .desc li{
	float: left;
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
}

.page-music .desc span{
	color: #9387AC;
}

.page-music .desc a{
	color: #737373;
}