.page-mask{
	display: none;
	position: fixed;
	z-index:1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
}

.page-music{
	display: none;
	width: 620px;
	height: 500px;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left:-310px;
	margin-top:-250px;
	z-index:2;
	background-color: #fff;
}

.page-music .logo{
	margin-top:15px;
	width: 100%;
	display: inline-block;
	height:33px;
}

.page-music .title{
	margin-top:12px;
	width: 100%;
	display: inline-block;
	height:19px;
}

.page-music .panel{
	width: 560px;
	display: block;
	margin:20px auto 20px auto;
}

.page-music .left{
	float: left;
	width: 265px;
	height: 100%;
}

.page-music .right{
	float: right;
	width: 270px;
	height: 100%;
}

.page-music .pic{
	width: 269px;
	height:265px;
	display: inline-block;
}

.page-music .desc{
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-top: 20px;
}

.page-music .desc li{
	float: left;
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
}

.page-music .desc span{
	color: #9387AC;
}

.page-music .desc a{
	color: #737373;
}

.jp-gui {
	position: relative;
	width: 100%;
}

.ui-widget-content {
	height: 23px;
}

.jp-gui ul li {
	position: relative;
	float: left;
	list-style: none;
	cursor: pointer;
}

.jp-gui li.jp-repeat, .jp-gui li.jp-repeat-off {
	margin-left: 344px;
}

.jp-play,
.jp-pause{
	width: 30px;
	height: 22px;
	display: inline-block;
	border-right: #151515 solid 1px;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 23px;
	cursor: default;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.jp-progress-slider {
	height: 23px;
	position: absolute;
	top: 0px;
	left: 38px;
	width: 210px;
	cursor: pointer;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.jp-clearboth{
	clear:both;
}