.page-nav{
	height: 60px;
	width: 100%;
	color: #646464;
	position: relative;
}

.page-nav .title{
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}

.page-nav .label{
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	right: 30px;
}