<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />

<link href="{CSS_PATH}xingwang/common.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}xingwang/header.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}xingwang/footer.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}xingwang/page.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}xingwang/nav.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}xingwang/tip.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}xingwang/music.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<!-- style type="text/css">
.page-tip .music-off{
	background:url({IMG_PATH}xingwang/music_off.jpg);
}
.page-tip .music-about{
	background:url({IMG_PATH}xingwang/music_about.jpg);
}
.page-music .logo{
	background: url({IMG_PATH}xingwang/music.png) center top;
}
.page-music .title{
	background: url({IMG_PATH}xingwang/title.png) center top;
}
.page-music .pic{
	background: url({IMG_PATH}xingwang/pic.png);
}
</style -->
</head>
<body>
	<div id="pageIndex" class="page-index">
		<div id="pageHeader" class="page-header" style="background:url({IMG_PATH}xingwang/header.png) center center;">
			<div class="wrap">					
				<ul>
					{php $key = 0}
					{loop $CATEGORYS $data}
					{if $data['parentid'] == 0}
					<li class="{if $key < 3}left{else}right{/if} {if $key == 3}first{/if}">
						<a href="{$data['url']}" {if in_array($catid, explode(',', $data['arrchildid']))}class="active"{/if}>{$data['catname']}</a>
					</li>
					{$key++}
					{/if}
					{/loop}				
				</ul>				
			</div>
		</div>
		<div id="pageContainer" class="page-container">
			<div class="wrap-left" style="background: url({IMG_PATH}xingwang/left.png); background-repeat:no-repeat"></div>
			<div class="wrap-right" style="background: url({IMG_PATH}xingwang/right.png);background-repeat:no-repeat"></div>
			<div class="wrap">
				<div id="pageNav" class="page-nav">
					<span class="title">{$catname}</span>					
					<span class="label"><a href="{siteurl($siteid)}">Home</a>>{substr(catpos($catid, '>'), 0, -1)}
				</div>
				<div class="wrap-top" style="background: url({IMG_PATH}xingwang/top.png) center center;background-repeat:no-repeat"></div>